:root {
    --branding-color:#6495ED;
    --secondary-color:#e105b5;
    --tertiary-color: #5c5d5e;
    --heading-one-font: 'Lora', serif;
    --complimentary-font:'Montserrat', sans-serif;
} 
.hero {
  text-align: center;
  background-color:var(--branding-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
h1 {
    font-family: var(--heading-one-font);
}
h2 {
    font-family: var(--complimentary-font);
}
h3{
    text-align: center;
    padding: 50px 0px;
}
.about-me-header{
    text-align: center;
    padding: 30px;
    font-size: 64px;
}
.other-photo-of-me {
    max-width: 480px;
   margin: 36px 10px 30px 10px;
}

.about-me-p {
    padding: 30px;
    font-size: 30px;
    background-color: var(--branding-color);
    margin-top: 90px;
}
.contact-info {
    padding: 20px;
    font-size: 30px;
    font-family: var(--complimentary-font);
}
.contact .contact-me-header, .contact-me-h2 {
    text-align: center;
}
.contact .contact-me-header {
    padding-top: 50px;
    font-size: 69px;
}
.contact .contact-me-h2 {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom:30px;
    background-color: var(--branding-color);
}
.about-me-container {
    border-color: black;
    border-width: 5px;
}
.about-me .border {
    border: black;
    border-width: 5px;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
 .contact-class {
    font-size: 20px;
    padding-top: 30px;
}
.about-me-p {
    font-size: 16px;
}
.other-photo-of-me{
    max-width: 250px;
}
}
.weatherappimage {
    padding: 40px;
    border-radius: 4px;
    max-width: 750px;
    background-color: var(--branding-color);
    margin-top: 50px;
}

.work-page h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 64px;
}
.weather-app-text {
    font-size: 25px;
    margin-top: 100px;
}
.weather-link {
    display: block;
    padding: 5px;
    color:white;
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    border-width: 4px;
    box-shadow: 5px 5px var(--tertiary-color);
    margin: 50px auto;
}
.work-container {
    margin: 30px;
}
footer {
    text-align: center;
    font-size: 21px;
    font-family: var(--heading-one-font);
}
footer .email-link, .my-icons{
    text-decoration: none;
    color: black;
    padding-top: 20px;
}
footer .email-link:hover, .my-icons:hover {
    color: var(--branding-color)
}
.my-icons {
    padding: 15px;
}
.coded-by {
    margin: 20px;
}
@media only screen and (max-width: 600px) {
  .fa-twitter {
    margin-left: 10px;
  }
  .weather-app-text{
    font-size: 13px;
    margin: 5px;
  }
  .weatherappimage{
    max-width: 300px;
    padding:5px;
    margin-left:15;
  }
  #work-heading {
    font-size: 30px;
    padding-bottom: 5px;
  }
  .work-container {
    margin:5px;
  }
  
}
