.hero {
  text-align: center;
  background-color: cornflowerblue;
  padding-top: 30px;
  padding-bottom: 30px;
}
h1 {
    font-family: 'Lora', serif;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
h3{
    text-align: center;
    padding: 50px 0px;
}
.about-me-header{
    text-align: center;
    padding: 30px;
    font-size: 64px;
}
.other-photo-of-me {
    max-width: 380px;
    margin-left: 30px;
    margin-top: 31px;
}
.about-me-p {
    padding: 30px 10px;
    font-size: 30px;
    text-align: justify;
    background-color: cadetblue;
    margin-top: 30px;
}